In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable

file1="hawaii_measurements.csv"
file2="hawaii_stations.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file1_df = pd.read_csv(file1, encoding = "utf-8")
file2_df = pd.read_csv(file2, encoding = "utf-8")

In [4]:
# Show just the header 
file1_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
len(file1_df)

19550

In [6]:
file1_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [7]:
# Show just the header 
file2_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [8]:
len(file2_df)

9

In [9]:
file2_df.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [10]:
file_clean = file1_df.dropna()

In [11]:
file_clean.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [12]:
len(file_clean)

18103

In [13]:
# Export file as a CSV, with the Pandas index and the header
file_clean.to_csv("clean_hawaii_measurements.csv", index=False)
file2_df.to_csv("clean_hawaii_stations.csv", index=False)